# Deployer private key
PRIVATE_KEY="YOUR PRIVATE KEY"

# Web client part
VITE_ENVIRONMENT=development
VITE_PORT=8095
VITE_APP_NAME='Laboratory work'
VITE_SUPPORTED_CHAIN_ID='35443'
VITE_ERC721_ADDRESS='VITE_ERC721_ADDRESS'
